@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
font-family: "Azeret Mono", monospace; 
margin: 0px;
padding: 0px;                           
}
.nav-bar{
   height: 100px;
   width: 1440;                        
}
nav{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;                             
}
nav h3{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 600;
}
nav button{
  box-sizing: border-box;
   border: 1px solid rgb(13, 19, 33);
   border-radius: 3px;
   opacity: 0.8;
   padding: 17px 24px 17px 24px;                                                     
}
/* navbar ends here */
/* banner start here */
.banner-container{
width: 1440px;
height: 652px;    
margin: 0 auto; 
background-image: url(../assets/Hero-bg.png); 
border: 2px dashed rgba(0, 0, 0, 0.132);                   
}
.banner-content{
   width: 998px;
   height: 582px;
    margin: 26px auto;                            
    text-align: center;                        
    }
    .banner-content h1{                        
    font-size: 38px;
    font-weight: 700;
    padding: 10px;
    }
    .banner-content p{                        
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    }
    .banner-content button{
   width: 208px;
   height: 66px;       
   margin: 32px 0px;
   border-radius: 8px;
   background: rgb(13, 19, 33);
   color: white;                 
    }
   
/* banner ends here */
/* why web start here */
.why-web-section{
 width: 1140px;
height: 1395px;
border: 2px solid red;  
margin: 0 auto; 
background: rgba(13, 19, 33, 0.034);   
margin-top: 70px;                      
}
.why-web-container{
   width: 946px;
   height: 1235px;      
   margin: 0 auto;    
   text-align: center;  
   margin-top:80px;             
  }
.web-text h2{
margin-top: 0px;
font-size: 32px;
font-weight: 800;
}
.web-text p{
   font-size: 16px;
font-weight: 400;
padding: 20px;
}
/* first div start */
.section-div-1{
   width: 946px;
   height: 336px; 
}
.section-div-container{
   display: flex; 
   width: 850px;
   height: 240px; 
   margin: 48px auto;
}
.section-div-text-part{
width:50%;
height: 200px;
}
.section-div-text-part h1{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 700;
}
.section-div-text-part p {
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin-top: 20px;
}
.section-div-text-part button{
width: 150px;
height: 48px;
border: 1px solid rgb(13, 19, 33);
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
margin-right: 240px;
margin-top: 33px;
}
.section-div-img-part{
   height: 240px; 
   width: 50%;  
}
.section-div-img-part img{
   width: 259.56px;
height: 217.01px;
margin-top: 10px;
margin-left: 100px;
}